*.class
*.log
.idea/**
.bsp/**
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

#bleep bits
**/target/**
.bleep/**
github.token

#mill bits
out/**

#smithy bits
LocationSmithy/src/scala/**
DuckUpdateSmithy/src/scala/**
DuckUpdateSmithy/src/resources/**