[Unit]
Description=Duck Update Web Service
After=network.target

[Service]
ExecStart=/usr/bin/java -Dorg.slf4j.simpleLogger.logFile=/home/ec2-user/DuckUpdateService.log -jar /home/ec2-user/DuckUpdateService.jar
Type=simple
Restart=no

[Install]
WantedBy=default.target
RequiredBy=network.target
